
    <%- include('partials/_header'); %>
	
    <%- include('partials/_navigation'); %>


    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- *** Owl Carousel Items ***-->
        <!-- *** Owl Carousel Items ***-->
        <div class="show-events-carousel">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="owl-show-events owl-carousel">
                            <div class="item">
                                <a href="/#about-part"><img src="/images/carousel-1.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <a href="/#training-part"><img src="/images/carousel-2.jpg" alt=""></a> 
                            </div>
                            <div class="item">
                                <a href="/#instructor-part"><img src="/images/carousel-3.jpg" alt=""></a> 
                            </div>
                            <div class="item">
                                <a href="https://www.linkedin.com/in/enes-şahin-877194177/details/featured/"><img src="/images/carousel-4.jpg" alt=""></a> 
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5 p-5">
        <div class="row">
          <div class="col-lg-6 mt-8">
            <img class="w-100 shadow rounded-circle" src="images/enesSahin.jpeg" alt="enesSahin"/>
          </div>
          <div class="col-lg-6">
            <div class="mt-4">
                <h4 class="mb-2">Enes Şahin / Hakkımda</h4>
                <p class="parag">Merhaba!</p>
                        <p class="mt-2 parag">
                            Ben Enes Şahin, kurumsal hayatın içerisinde yetişkin bireylerin öğrenme alanlarını tasarlayan biraz Eğitmen, biraz İnsan Kaynakları Uzmanı, biraz İşe Alımcı, biraz Danışman, biraz Çözüm Ortağı, biraz Psikolog, ama hepsinin yanında tam bir Esnaf Çocuğuyum. 
                        </p>
                        <p class="mt-2 parag">
                            Ben o dönemlerde pek de farkında olmadan kurumsal kariyerim ilkokul yıllarında aile mağazamızda başladı. ‘’Anne ben okuldan çıktım dükkana geliyorum’’ cümlesinden yola çıkarak anlayabiliriz ki İş-Hayat Dengemde ‘’iş’’ biraz daha ağır basıyor. Ardından üniversite yıllarımda psikoloji bölümünün getirmiş olduğu endüstriyel merak, iş örgüt psikolojisi ama en çok da günümün bir çok kısmında aklımda dönen Deneyimsel Öğrenme Sistemi beni şu anda yapmış olduğum işe getirdi.
                        </p>
                        <p class="mt-2 parag">
                            Ne mi yapıyorum? Yetişkin bireylerin öğrenme alanlarını tasarlıyorum. Öğrencilik yıllarında gönüllü olarak başlayan eğitmenlik kariyerim sonrasında bir çok farklı organizasyon, şirket, sivil toplum kuruluşu ve dernek ile devam etti. Katılımcı odaklı bir sistemde her somut deneyimin bir öğrenmeye çıkabileceği bu eğitim modeline resmen büyülenmiştim. Sonra baktım ki böyle olmuyor, sıvadım kolları ve bu güzel sistemi aktarmayı görev edindim. Aslında Eğiticinin Eğitimi ya da Eğitmen Eğitimi olarak adlandırdığımız bu güzel serüveni aktarıyor ve hemen yanımda, eş eğitmen koltuğunda oturacak olan bir çok meslektaşımın yolculuklarına eşlik ediyorum. 
                        </p>
                        <p class="mt-2 parag">
                            Bununla birlikte kurumsal hayata giriş kapıları hakkında danışmanlıklar veriyor, Kariyer Planlama, CV Hazırlama, Mülakat Hazırlığı gibi danışmanlıklar sağlıyorum.
                        </p>
                        <p class="mt-2 parag">
                            İşte şimdi sen de burada, Enes Şahin’in Öğrenme Dünyasındasın. 
                            Doyasıya gez, öğren, iz bırak ve keyfini çıkar lütfen.
                        </p>
              </div>
          </div>
      </div>
      </div>
    

    
    <!-- *** Map ***-->
    <div class="map-image">
        <img src="images/map-image.jpg" >
    </div>


    <!-- *** Venues & Tickets ***-->
    <div class="venue-tickets">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <div class="about-upcoming-shows">
                        <div class="section-heading" id="training-part">
                            <h2>Kurumsal Eğitimler</h2>
                        </div>
                        <div class="container">
                            <div class="row justify-content-md-center">
                                <div class="col-lg-12">
                                    <h2 class="customh2">Eğitime Bakış Açısı</h2>
                                    <h4>‘’Duyarım ve unuturum. Görürüm ve hatırlarım. Yaparım ve anlarım.”</h4>
                                    <p class="text-md"><p>Deneyimsel Öğrenme Sistemi Amerikalı bir Eğitim Teorisyeni David Allen Kolb tarafından kurgulanmış ve günümüzdeki haline getirilmiştir. Katılımcı odaklı bir öğrenme sistemi olan deneyimsel öğrenme tamamen katılımcının ihtiyacı doğrultusunda hazırlanan içerikler ve deneyimleme alanları ile şekillenir. Yetişkin öğrenme sistemi olan Androgoji ile örtüşen deneyimsel öğrenme; bireylerin başına gelen somut deneyimlerden öğrenmeler çıkarması ve bu öğrenmeleri günlük hayatlarına uyarlamasını prensip alır. Bilgi ve beceri geliştirme için zemin hazırlayan bir öğrenme sistemidir. Uzun vadede tutum haline gelen bilgi beceri ve davranışlar bireylerin profesyonel ve özel hayatlarını daha kaliteli hale getirmeyi amaçlar.</p></p>
                                    
                                    <p>
                                        Kurumsal şirketlerde ve organizasyonlarda uzun zamandır süregelmiş olan geleneksel eğitim modeli dışında deneyimsel öğrenme katılımcı odaklı bir öğrenme modelidir. Katılımcının ihtiyacı üzerine hazırlanan içerikler yine katılımcının kendi deneyimleme alanı ile devam eder ve kendi öğrenme çıktıları ile taçlanır. Kapsayıcı ve birleştirici bir eğitim modeli olmakla birlikte öğrenen organizasyonların günümüzde yaygınlaşması ile etki alanı daha da artmıştır. Ölçülebilir ve değerlendirilebilir çıktılar alınması katılımcı gelişiminin gözlenmesi açısından çok önemli ve kıymetlidir.
                                    </p>
                                    
                                    <p>
                                        Öğrenme stillerine göre şekillenen eğitmen rolleri, tasarlanan öğrenme alanının en büyük avantajlarından birisidir. Deneyimsel öğrenme ile karşılaşan bir katılım çemberde deneyimler, çemberde üzerine konuşur, çemberde plan yapar, hayata geçirir ve uygular.
                                    </p>
                
                                    <p>
                                        İşte bu yüzden günümüzde birçok kurum ve organizasyon akran öğrenmesi, katılımcının katılımcıdan öğrenmesi deneyimleyerek öğrenme gibi birçok gelişim alanını Deneyimsel Öğrenme Tabanlı bir tasarım sisteminden alıyor. 
                                    </p>
                                    <div class="text-button">
                                        <a href="/#form">Yardıma mı İhtiyacınız Var? <i class="fa fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- *** Coming Events ***-->

    <!-- *** Owl Carousel Items ***-->
        <!-- *** Owl Carousel Items ***-->
            <div class="show-events-carousel" id="services-part">
                <div class="container">
                    <div class="row">
                        <div class="services-title">
                            <h2>Potansiyel Eğitim Başlıkları</h2>
                        </div>
                        <div class="col-lg-12">
                            <div class="owl-show-events owl-carousel">
                                <div class="item">
                                    <img src="/images/event-01.jpg" alt="">
                                    <div class="contents">
                                        <h4>Yetenek Yönetimi Programları</h4>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="/images/event-02.jpg" alt="">
                                    <div class="contents">
                                        <h4>Wellbeing Projeleri</h4>
                                    </div> 
                                </div>
                                <div class="item">
                                    <img src="/images/event-03.jpg" alt="">
                                    <div class="contents">
                                        <h4>Toplantı Yönetimi Eğitimi</h4>
                                    </div> 
                                </div>
                                <div class="item">
                                    <img src="/images/event-04.jpg" alt="">
                                    <div class="contents">
                                        <h4>Takım Çalışması ve Aidiyet</h4>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="/images/event-05.jpg" alt="">
                                    <div class="contents">
                                        <h4>Sunum Teknikleri ve Kolaylaştırıcılık</h4>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="/images/event-06.jpg" alt="">
                                    <div class="contents">
                                        <h4>Kurumsal Sosyal Etkinlikler</h4>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="/images/event-07.jpg" alt="">
                                    <div class="contents">
                                        <h4>Kurumsal Gelişim Atölyeleri</h4>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="/images/event-08.jpg" alt=""> 
                                    <div class="contents">
                                        <h4>İş Hayat Dengesi</h4>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="/images/event-09.jpg" alt="">
                                    <div class="contents">
                                        <h4>Hedef Belirleme Eğitimi</h4>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="/images/event-10.jpg" alt=""> 
                                    <div class="contents">
                                        <h4>Beklenti Yönetimi Eğitimi</h4>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    

    <div class="also-like" id="instructor-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Danışmanlıklar</h2>
                </div>
                <div class="col-lg-4">
                    <div class="like-item">
                        <div class="thumb">
                            <a href="/#training-part"><img src="images/like-01.jpg" alt=""></a>
                        </div>
                        <div class="down-content">
                            <a href="/#training-part"><h4>Kurumsal</h4></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="like-item">
                        <div class="thumb">
                            <a href="/#kurumsal-part"><img src="images/like-02.jpg" alt=""></a>
                        </div>
                        <div class="down-content">
                            <a href="/#kurumsal-part"><h4>Bireysel</h4></a>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- *** Venues & Tickets ***-->
    <div class="venue-tickets">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <div class="about-upcoming-shows" id="kurumsal-part">
                        <div class="container">
                            <div class="row justify-content-md-center">
                                <div class="col-lg-12">
                                    <h2 class="customh2">1- CV Danışmanlığı</h2>
                                    <p class="text-md">
                                        <p>
                                            CV bir şirkete giden ilk posta güvercinidir, güvercini gönderdikten sonra göçe mi gitti? Geri gelecek mi? İleti görüldü mü? Görüldü indirildi mi? Gibi soruları sormak çok normal ama kendinden emin olmak da ne kadar güzel bir ilk adımdır.
                                        </p>
                                        <p>
                                            Başarılı bir CV içeriği biriktirmek ve deneyim elde etmek ne kadar önemli olsa da bunu doğru şekilde karşıdaki İK uzmanına sergileyebiliyor olmak da bir o kadar önem arz ediyor. Hemen aşağıdaki ‘’Danışmanlık Talep Et’’ butonunda iş arama sürecinizde bir İK çalışanının olumlu değerlendirebileceği ve filtresine takılabileceği bir CV hazırlamak için profesyonel bir destek alabilirsiniz. 
                                        </p></p>
                                </div>
                                <div class="col-lg-12">
                                    <h2 class="customh2">2- Mülakat Koçluğu</h2>
                                    <p class="text-md"><p>İlk posta güvercinim olumlu haberi getirdiğinde karşıma ne çıkar? İşte o korkulu rüya ‘’First Date’’ Şirketler ile ilk karşılaşma, kendini doğru ifade etme, yetkinlikleri doğru gösterebilme, beden dili, doğru kelime seçimi, ne giymeliyim? Ne olursa second date gerçekleşmez? Ve daha çok fazlası… İş aramak ve kabul aldığım kurum kültürü içerisinde üreterek ilerlemek uçtan uca bir süreçtir. Bu sürecinizde danışmanlık talep edebilmek ve kariyerinizi profesyonel bi iş dinamiği üzerine inşa edebileceğinizi biliyor muydunuz? Mülakatlarınıza öncesinden hazırlanabilmeniz, simülasyon mülakatlar deneyimleyebilmek için ‘’Danışmanlık Talep Et’’ kısmından bana ulaşabilirsiniz. </p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rent-venue-application" id="form">
        <div id="message"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-9 mt-5">

                    <% if(flashMessages) { %>

                        <% if(flashMessages.success) { %>
                            <div class="alert alert-success">
                                <%= flashMessages.success %>
                            </div>

                        <% } else if(flashMessages.error) { %>
                            <div class="alert alert-danger">
                                <%= flashMessages.error %>
                            </div>
                        <% } %>
                    <% } %>

                    <div class="heading-text">
                        <h4>Danışmanlık İçin Bilgi Al</h4>
                    </div>
                    <div class="contact-form">
                        <form id="contactform" action="/contact" name="contactform" method="POST">
                          <div class="row">

                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="first_name" class="form-control" placeholder="Ad - Soyad">
                              </fieldset>
                            </div>

                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" id="email" class="form-control" placeholder="Email Adresiniz">
                              </fieldset>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                  <input name="tel" type="text" id="tel" class="form-control" placeholder="Telefon Numaranız">
                                </fieldset>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                  <input name="subject" type="text" id="subject" class="form-control" placeholder="Konu Başlığı(opsiyonel)">
                                </fieldset>
                            </div>

                            <div class="col-lg-12">
                              <fieldset>
                                <textarea class="form-control" name="message" rows="6" id="comments" placeholder="Danışmanlık İhtiyaçlarınızdan Bahseder misiniz?"></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-dark-button">Submit Request</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <%- include('partials/_footer'); %>
